exclude: ^(.claude/commands/openspec/.*|.github/pull_request_template.md|.scaffdog/.*.md)$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer

  - repo: https://github.com/c18t/pre-commit-hooks
    rev: v1.3.0
    hooks:
      - id: pretty-quick
      - id: shellcheck
      - id: yamllint

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: '3.0.0'
    hooks:
      - id: script-must-have-extension

  - repo: https://github.com/hadolint/hadolint
    rev: 'v2.14.0'
    hooks:
      - id: hadolint

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint-system

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.6.2
    hooks:
      # - id: golangci-lint-config-verify
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-test-short
        name: go-test-short
        entry: go test ./... -v -short
        language: system
        pass_filenames: false
        always_run: true
      - id: govulncheck-lcoal
        name: govulncheck-local
        entry: govulncheck ./...
        language: system
        pass_filenames: false
        always_run: true
      - id: bearer-local
        name: bearer-local
        entry: bearer scan .
        language: system
        pass_filenames: false
        always_run: true
