exclude: ^.scaffdog/.*.md|^.github/pull_request_template.md$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/c18t/pre-commit-hooks
    rev: v1.3.0
    hooks:
      - id: pretty-quick
      - id: shellcheck
      - id: yamllint

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.57.2
    hooks:
      # - id: golangci-lint-config-verify
      - id: golangci-lint
