name: Go-test

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go environment
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Build
        run: go build -v ./...
      - name: Test with coverage report output
        run: go test ./... -coverprofile=coverage.out
      - uses: k1LoW/octocov-action@v1
